html {
  overflow: scroll;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.23);
}

nav > ul > li {
  color: #222;
  font-weight: bold;
  display: inline;
  list-style: none;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

/* Posts */

.post-list {
  width: 1024px;
  margin: auto;
}

.post-list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 20px;
}

/* .post {
  display: inline-block;
  margin: 12px;
  max-width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.expired {
  background-color: rgb(255 172 165);
}

.post-top {
  position: relative;
  height: 38px;
  padding: 10px;
  background-color: rgb(185, 232, 247);
  border-radius: 20px 20px 0px 0px;
}

.post-bottom {
  padding: 10px;
}

.post-title {
  font-weight: bold;
} */

/* Post Filter */

.post-filter {
  margin-top: 10px;
}

.post-filter a {
  background-color: white;
  border-radius: 8px;
  padding: 3px 8px 5px 8px;
  margin-right: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.23);
}

.post-filter .selected-filter {
  background-color: rgb(185, 232, 247);
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* post2 */
/* .post2 {
  position: relative;
  display: inline-block;
  margin: 12px;
  max-width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.post2 > .post-top {
  position: relative;
  height: 60px;
  padding: 0px;
  background-color: rgb(185, 232, 247);
  border-radius: 10px 10px 0px 0px;
}

.post2 .post-detail {
  position: absolute;
  top: 2px;
  left: 6px;
}
.post2 .post-type {
  font-size: 24px;
  font-weight: bold;
}

.post2 .detail {
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.post2 .price {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 24px;
  font-weight: bold;
}

.post2 .time-ago {
  position: absolute;
  bottom: 4px;
  left: 8px;
}

.post2 .post-domain {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.expired {
  background-color: rgb(255 172 165);
} */

/* login form */

.login-form {
  margin: 20px;
}

.login-form input {
  display: block;
  margin-bottom: 20px;
}

.navbar-toggle {
  float: right;
}
